/*元素居中*/
.center{
    margin:0 auto;
}
/*文本居中*/
.textcenter{
    text-align: center;
}
/*元素范围*/
.block{
    display:block;
}


/*导航栏*/
/*设置导航框和背景颜色*/
.navbar{
    overflow: hidden;/*超出范围的东西切掉*/
    background-color: #1a70e0;/*框框的背景色*/
}
/*横向排列*/
.navbar li,.navbar span{
    float: left;/*不浮动就并一行文字居中；浮动就并多行文字*/
}
/*目录各键*/
.navbar li a{
    display:block;/*以方块的形式展现*/
    padding: 25px 20px;/*方块的大小：高度，宽度*/
    color: rgba(255, 255, 255, 0.879);/*元素（这里列举是文字）的颜色*/
    text-align: center;/*文字位置*/
    text-decoration: none;/*消除超链接的下划线*/
    font-size: 18px;
}
/*大标题和目录键同风格*/
.navbar span a{
    display:block;
    padding:14px 16px;
    color:white;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
}

/*鼠标在目录上时的反应*//*鼠标在标题上无反应的，所以不写*/
.navbar ul a:hover{/*鼠标停在超链接上面时的状态*/
    background-color: #ddd;
    color: black;
}
/*取消列举的头*/
.navbar ul{
    list-style-type: none;
    padding:0;
    margin:0;
}