/* 目录页面，在dict.js */
.entry-list {
    list-style-type: none;
    padding: 0;
}
.entry-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f5f5f5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.entry-item:hover {
    background-color: #e0e0e0;
}
a{
    color: #2c3e50;
}

/* 条目页面，在item.js */
.romazi,.hanzi-s,.hanzi-t,.variant {
    color: #2c3e50;
    font-weight: bold;
    margin-right: 1rem;
}
.romazi{
    font-size: 2rem;
}
.partOfSpeech{
    /* border: 1px solid black; */
    color: red;
    background-color: palegreen;
    font-weight: bold;
    padding: 2px;
    margin-right: 1rem;
}
.types{
    border: 1px solid black;
}
.definition{
    margin-top: 1rem;
}
.example {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #3498db;
    margin: 10px 0;
}
.update{
    text-align: right;
    font-size: 1rem;
}
/* .back-btn {
    padding: 8px 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */



 /* 响应式设计 */
@media (min-width: 770px) {
    /* 条目页面，在item.js */
    #contentContainer{
        margin: auto 20%;
    }
}